@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image:linear-gradient(to top, #b1433d,#FF665A)
     }
     main{
         background-color: white;
         border-radius: 10px;
         box-shadow: 5px 5px 15px rgb(rgb(112, 42, 42), green, blue);
         width: 600px;
         padding: 10px;
         margin: auto;
     }
     h1{
         color: saddlebrown;
         text-align: center;
         text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.637);
       }
       h2{
           color: royalblue;
         }
         p{
             text-align: justify;
         }